@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;900&family=Varela&display=swap');
/* font-family: 'Martel Sans', sans-serif; */

body{
    margin: 0;
    padding: 0;
    background-color: #333;
}
.banner-area{
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.overlay{
    background-color: #000;
    opacity:0.6;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    z-index: 3;
    position: relative;
}
.logo img{
    padding: 30px 0 0 60px;
    width : 130px;
    
}

.language{
    margin: 0 50px;
    position: absolute;
    right: 130px;
    z-index: 3;
}
#language{
    text-align: center;
    font-family: 'Varela', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    height: 35px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0.2;
}
#language option{
    background-color: rgba(95, 95, 95, 0.678);

}
.signin{
    margin: 0 50px;
    position: absolute;
    right: 40px;
    z-index: 3;
    margin: 0 20px;
}
.signin-button{
    font-size: 1rem;
    height: 35px;
    width: 90px;
    font-weight: bolder;
    color: white;
    background-color: #e50914;
    border: 0;
    border-radius: 2px ;
    cursor: pointer;
}
.bannertext{

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 120px auto 0 auto;
    z-index: 3;
    position: relative;
}
.bannertext h1{
    width: 70%;
    font-size: 3.125rem;
    font-family: 'Martel Sans', sans-serif;
    text-align: center;
    line-height: 57px;
}
.bannertext h2{
    width: 80%;
    font-size: 1.625rem;
    font-family: 'Martel Sans', sans-serif;
    text-align: center;
    line-height: 0;
    margin-top: 5px ;
}
.form-area{
    font-family: 'Martel Sans', sans-serif;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative;
}
.form-area h3{
font-size: 1.150rem ;
font-weight: normal;
margin-bottom: 10px;
text-align: center;
margin: 0 80px;
}
.form
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form input{
    width: 450px;
    height: 56px;
    font-size: 1rem;
    padding-left: 20px;
    border: 0;
    border-radius: 2px 0 0 2px;
}
.btn{
height: 58px;
width: 200px;
background-color: #e50914;
color: white;
font-size: 1.5rem;
font-weight:normal;
cursor: pointer;
border: 0;
border-radius: 0 2px 2px 0;
}
.btn i {
    padding-left: 10px;
}
.btn:hover{
    background-color:#f70915 ;
}
.fa-chevron-right{
font-size: 1.1rem;
}
.section1, .section2, .section3, .section4 {
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    margin: 8px 0;
    padding: 45px 70px;
    color: #fff;
}
.description{
    /* padding-left: 40px; */
}
.description h1{
    font-size: 48px;
    line-height: 60px;
}
.description h2{
    margin-top: -20px;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
}
.image{
}
.image img{
    width: 500px;
    position: relative;
    z-index: 3;
}
.image video {
    width: 360px;
    position: absolute;
    transform: translate(-120%,39%);
    z-index: 2;
}
.section3 video{
    width: 325px;
    position: absolute;
    transform: translate(-127%,16%);
    z-index: 2;
}
.box{
    align-items: center;
    background: #000;
    display: flex;
    width: fit-content;
    height: 100px;
    position: relative;
     border: 2px solid hsla(0,0%,100%,.25);
    border-radius: 0.75em;
    box-shadow: 0 0 2em 0 #000;
    transform: translate(30%,-130%);
    z-index:3;

}
.boxshot img{
    padding: 10px;
width: 50px;
}
.download img{
    padding: 10px;
width: 50px;
}
.text{
    margin: 10px 20px 10px 20px;
}
.text h4{
    margin: 16px 0 0 0;
}
.text p{
    margin-top: -5px;
    color:#0071eb;
}
.footer{
    font-family: 'Arial', sans-serif;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #737373;
    width: 100%;
    height: 40%;
    padding: 5% 0 0 0;
    font-size: small;
}
.footer h3{
    display: block;
    text-align: center;
}
.footer h3 a{
    text-decoration: none;
    color: #737373;
}
.footer h3 a:hover{
    text-decoration: underline;
}
.footer p{
    display: block;
    text-align: center;
    font-size: small;
    margin: 100px 0 50px 0;
}
table{
    width: 80%;
    text-align: left;
    margin: auto;
}
table tr{
    margin: 10px;
}
table tr td{
    padding: 10px 30px;
}

@media screen and (max-width:950px) {
    .banner-area {
        height: 75vh;
    }
    .overlay{
        height: 85%;
    }
    .logo img{
        width: 100px;
        padding: 30px;
    }
    .signin{
        margin-right: -10px;
    }
    .language{
        margin-right: -10px;
    }
    .signin-button{
        width: 68px;
        height: 30px;
    }
    #language{
        height: 30px;
        width: 85px;
    }
    .bannertext{
        margin-top: 25px;
        width: 100%;
    }
    .bannertext h1{
        width: 100%;
    font-size: 29px;
    line-height: 38px;
    }
    .bannertext h2{
        width: 100%;
        font-size: 16px;
        line-height: 0px;
        font-weight: normal;
        }
        .form{
            margin: 0;
            flex-direction: column;
        }
        .form-area h3{
            width: 90%;
            padding-top: 20px;
            margin: 0 40px;
            line-height: 20px;
            font-size: 15px;
        }
        .form input{
            margin-top: 10px;
            width: 315px ;
            height: 45px;
        }
        .btn{
            margin-top: 10px;
            width: 130px;
            height: 45px;
            font-size: 15px;
        }
        .section1, .section3{
            flex-direction: column;
        }
        .section2, .section4{
            flex-direction: column-reverse;
        }
        .image img{
            width: 300px;
        }
        .description{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .description h1{
            font-size: 25px;
            line-height: 30px;
        }
        .description h2{
            font-size: 15px;
            line-height: 22px;
            margin-top: 10px;
        }
        .image video {
            width: 217px;
        }
        .section3 video{
            width: 192px;
        }
        .boxshot img{
            padding: 10px;
        width: 40px;
        }
        .download img{
            padding: 10px;
        width: 40px;
        }
        .text{
            margin: 0px 10px 0px 10px;
        }
        .text h4{
            margin: 10px 0 0 0;
        }
        .text p{
            margin-top: -5px;
            font-size: 10px;
            letter-spacing: 0.8px;
            
        }
        .box{
            transform: translate(2%,-130%);
            height: 82px;
        }
        table{
            width: 90%;
            text-align: left;
            margin: auto;
            font-size: 8px;
        }
        table tr{
            margin: 10px;
        }
        table tr td{
            padding: 5px 5px;
        }
        .footer p{
            display: block;
            text-align: center;
            font-size: small;
            margin: 20px 0 20px 0;
        }
}